<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard - Savings Goal Tracker</title>
  <link rel="icon" type="image/x-icon" href="/static/image/fev.ico">
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/boxicons@2.1.1/css/boxicons.min.css" rel="stylesheet">
</head>
<body class="flex bg-gray-100 h-screen">

  <main class="ml-64 flex-1 p-6">
    <button onclick="logout()" class="bg-red-500 text-white px-4 py-2 rounded-md">
      Logout
    </button>
  </main>

  <script>
    function logout() {
      const isConfirmed = confirm('Are you sure you want to log out?');
      if (isConfirmed) {
        localStorage.removeItem('authToken'); 
        sessionStorage.removeItem('authToken'); 
        window.location.href = '/signin';  
      }
    }
  </script>

</body>
</html>
